<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    <img src="/imgs/logo-mercado-liebre.svg"width="360" alt="Logo de Mercado Liebre">
    <p>Lugar para poner la barra de búsqueda</p>
    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
        <ul>
            <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <br>
    </header>
    <main>
        <img src="/imgs/img-home-banner.jpg"width="360" alt="Banner de ofertas">
        <h3>Basado en tu última visita</h3>

        <img src="/imgs/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
        <p class ="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h4 class="description">Cafetera Moulinex</h4>
        <br>
        <img src="/imgs/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
        <p class ="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <h4 class="description">MacBook Pro 2019</h4>
        <br>
        <img src="/imgs/img-samsung-galaxy-s10.jpg"width="360" alt="Samsung" class="producto_img">
        <p class ="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h4 class="description">Samsung Galaxy S10</h4>
        <br>
        <img src="/imgs/img-tv-samsung-smart.jpg" width="360" alt="SmartTv" class="producto_img">
        <p class ="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <h4 class="description">SmartTv Samsung 43"</h4>
        <br>
        <h3>Sección de Ofertas</h3>
        <img src="/imgs/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="producto_img">
        <p class ="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h4 class="description">Cafetera Moulinex</h4>
        <br>
        <img src="/imgs/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="producto_img">
        <p class ="price">$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>
        <br>
        <img src="/imgs/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung" class="producto_img">
        <p class ="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h4 class="description">Samsung Galaxy S10</h4>
        <br>
        <img src="/imgs/img-tv-samsung-smart.jpg" width="360" alt="SmartTv" class="producto_img">
        <p class ="price">$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>
        <br>
    </main>
    <footer>
        <i class="fas fa-credit-card"></i>
        <h4>Paga con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $2.500</h4>    
        <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo!En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás protegid@.</p>
        <p>Copyright © 1999-2020 Mercado Liebre S.R.L.></p>              
    </footer>

</body>
</html>