<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
<header class="header-ppal">
    <div class="ppal-header-top-bar">
    <div class= "contenedor-logo-busqueda">
        <img src="/imgs/logo-mercado-liebre.svg" class="logo" alt="logo mercado libre" width="360">
        <form class="busqueda" action="/views/home.html" method="GET">
            <input type="text" placeholder="Buscar productos, marcas" class="barra-busqueda">
            <div class="contenedor-icono-busqueda">
                <button type="submit" class="icono-busqueda"><i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
    <h3 class="copy-header"><i class="fas fa-hand-holding-usd manito" aria-hidden="true"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
    </div>
    <div class="navegacion">
        <ul class="nav-left" type="none">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-right" type="none">
            <li><a href="/views/register.html">Creá tu cuenta<i class="far fa-id-card iconos-nav-right"></i></a></li>
            <li><a href="/views/login.html">Ingresá<i class="fas fa-sign-in-alt iconos-nav-right"></i></a></li>
            <li><a href="#">Mis compras<i class="fas fa-shopping-basket iconos-nav-right"></i></a></li>
        </ul>
    </div>
        <div class="contenedor-burger-menu">
            <a href="#" class="burger-menu">
                <i class="fas fa-bars" aria-hidden="true"></i>
            </a>
        </div>
</header>
<main>
<form method="POST" action="/" class="registro-form">
    <fieldset class="campo-form">
        <input type="text" id="nombre-completo" name="nombre-completo" class="control" placeholder="Nombre y Apellido" required>
    </fieldset>
    <fieldset class="campo-form">
        <input type="text" id="nombre-usuario" name="nombre-usuario" class="control" minlength="4" maxlength="12" placeholder="Nombre de usuario" required>
    </fieldset>
    <fieldset class="campo-form">
        <input type="text" id="mail" name="mail" class="control" placeholder="Email" required>
    </fieldset>
    <fieldset class="campo-form">
        <label for="fechaDeNacimiento" class="titulo-campo">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="control" required>
    </fieldset>
    <fieldset class="campo-form">
        <input type="text" id="domicilio" name="domicilio" class="control" placeholder="Domicilio" required>
    </fieldset>
    <fieldset class="campo-form">
        <label for="perfilUsuario" class="titulo-campo">Perfil de usuario:</label>
            <div class="perfil-usuario">
                <input type="radio" name="perfilUsuario" id="comprador" class="control">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfilUsuario" id="vendedor" class="control">
                <label for="vendedor">Vendedor</label>
            </div>
    </fieldset>
    <fieldset class="campo-form">
        <label class="titulo-campo">Categorías de interés</label>
        <div class="intereses-usuario">
            <label for="electro">
                <input type="checkbox" name="electro" id="electro">
                "Electro"
            </label>
            <label for="moda">
                <input type="checkbox" name="moda" id="moda">
                "Moda"
            </label>
            <label for="hogar">
                <input type="checkbox" name="hogar" id="hogar">
                "Hogar"
            </label>
            <label for="jugueteria">
                <input type="checkbox" name="jugueteria" id="jugueteria">
                "Juguetería"
            </label>
            <label for="Vida sana">
                <input type="checkbox" name="Vida sana" id="Vida sana">
                "Vida sana"
            </label>
    </fieldset>
    <fieldset class="campo-form">
        <label for="fotoUsuario" class="titulo-campo">Foto de usuario:</label>
        <input type="file" name="fotoUsuario" id="fotoUsuario" accept=".jpg"> 
    </fieldset>
    <fieldset class="campo-form">
        <input type="password" id="contraseña" name="contraseña" class="control" minlength="4" maxlength="12"  placeholder="Contraseña" required>
    </fieldset>
    <fieldset class="campo-form">
        <input type="password" id="confirmar-contraseña" name="confirmar-contraseña" minlength="4" maxlength="12" placeholder="Confirmar contraseña" required>
    </fieldset>
    <fieldset class="campo-form">
    <button type="submit" class="boton-formulario">Enviar</button>
    <button type="reset" class="boton-formulario">Borrar</button>
    </fieldset>
</form>
</main>
<footer>
    <div class="contenedor-footer">
        <div class="tip-footer">
            <i class="fas fa-credit-card icono-footer"></i>
            <h5>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="tip-footer">
            <i class="fas fa-gift icono-footer"></i>
            <h5>Envío gratis desde $2.500</h4>    
            <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="tip-footer">
            <i class="fas fa-user-shield icono-footer"></i>
            <h5>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo!En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás protegid@.</p>
        </div>
    </div>
    <div class="derechos-footer">
        <p>Copyright © 1999-2020 Mercado Liebre S.R.L.></p>
    </div>               
</footer>
</body>
</html>