body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}
h3 {
    font-size: 24px;
}
.price {
    font-size: 18px;
}
.discount {
    font: size 16px;
}
.manito {
    font: size 20px;
    color: #666;
}
header {
    background-color: #EAC926;
}
.barra{
    color: lightgrey
}
.burger-menu{
    color: white;
    background-color:#1259c3;
    width: 50%;
    margin: 0 auto;
}
footer{
    margin: auto;
}
.icono1, .icono2, .icono3{
    size: 2em;
}
main{
    margin: auto;
    width: 90vw;
}
article{
    margin: 5px;
}
.description{
    font: size 16px;
    display: none;
}
@media (min-width:769px){
    .description{
        display: block;
    }
}