body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}
h3 {
    font-size: 24px;
}
.price {
    font-size: 18px;
}
.discount, .description{
    font: size 16px;
}
.fas fa-hand-holding-usd{
    font: size 20px;
    color: #666;
}

header {
    background-color: #EAC926;
}
.barra{
    color: lightgrey
}
.burger-menu{
    color: white;
    background-color:#1259c3;
    width: 50%;
    margin: 0 auto;
}
