*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}

h3 {
    font-size: 24px;
}
.price {
    font-size: 18px;
}
.discount {
    font: size 16px;
    color: #39b54a;
}
.description{
    font-size: 16px;
}
.compra{
    font-family: 'Roboto', sans-serif;
}
.manito {
    font: size 20px;
    color: black
}
header {
    background-color: #EAC926;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
ul{
    margin: 0;
    padding: 0;
}
.banner{
    width: 90vw;
    margin: auto;
}
.barra{
    color: #ebebee;
}
#burger{
    display: inline-block;
    color: white;
    background-color:#1259c3;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}
footer{
    align-content: center;
    text-align: center;
}
.icono1, .icono2, .icono3{
    size: 2em;
    margin-bottom: 10px;
    background-color: white;
    color: #1259c3;
    line-height: 5px;
}
main{
    width: 90vw;
    margin: auto;
    display: block;
}
article{
    margin: 5px;
    text-align: left;
}
.description{
    font: size 16px;
    display: none;
    color: #666;
    font-weight: normal;
}
.envio{
    margin: ​ 0​ px​ ;
    padding: ​ 0​ px​ ; 
    box-sizing: ​ border-box​ ;
    color:  #39b54a;
}
@media (min-width:768px){
    .description{
        display: block;
    }
}
@media (min-width:361px){
    .description{
        box-shadow : ​ 0px​  ​ 0px​  ​ 10px​  ​ rgb​ (​ 100​ , ​ 100​ , ​ 100​ );
    }
}
@media (max-width: 480px){
    nav{
        display: none;
    }
}
@media (min-width:481px){
    #burger{
        display: none;
    }
}
.hija{
    border-top: 1px solid #ebebee;
    margin: 15px;
}